
body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #666666;
    position: relative;
}
.titulo-seccion{
    font-size: 19px;
    font-weight: 300;
    color: #5BA14B;
    padding: 10px;
    background-color: #ecf0f1;
    text-transform: uppercase;
}
img{
    max-width: 100%;
}
.contenedor{
    width: min(98%, 120rem);
    margin: 1rem auto;
}

@media (min-width: 768px){
    body{
        font-size: 1em;
    }
    .contenedor{
        display: grid;
        grid-template-columns: 75% 25%;
        column-gap: 8px;
        row-gap: 8px;
    }
    .titulo-seccion{
        margin-top: 0;
    }
}
@media (min-width: 1024px){
    .contenedor{
        width: min(72%, 120rem);
    }
}
@media (min-width: 1200px){
    .contenedor{
        width: min(70%, 120rem);
    }
}
@media (min-width: 1441px){
    .contenedor{
        width: min(60%, 120rem);
    }
}
/*  =====================================================================
    Estilos sección DNI y botones para asistencia-refrigerio
    =====================================================================
*/
.seccion-dni{
    border: 1px solid #5BA14B;   
    grid-row: 1 / 1;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.contenedor-input{
    display: flex;
    flex-direction: column;
}
.contenedor-input label{
    margin-bottom: 5px;
    color: tomato;
    font-weight: 700;
}
.contenedor-input input{
    margin-bottom: 20px;
    border: 1px solid #a4a4a4;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    outline: unset;
}
.grupo-botones{
    display: flex;
    justify-content: space-around;
}
.grupo-botones button{
    padding: 18px 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.boton-asistencia,
.boton-refrigerio{
    box-shadow: inset -8px -5px 10px -5px rgb(105, 105, 105);
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1em;
}
.boton-asistencia{
    background-color: #2980b9;
    box-shadow: 0 4px #1c6ea4;
    transition: transform 0.3s ease-in-out;
}
.boton-asistencia:hover{
    background-color: #2674a9;   
}
.boton-asistencia:active{
    transform: scale(0.9);   
}
.boton-refrigerio{
    background-color: #e67e22;
    box-shadow: 0 4px #d35400;
    transition: transform 0.3s ease-in-out;
}
.boton-refrigerio:hover{
    background-color: #d2731f;
}
.boton-refrigerio:active{
    transform: scale(0.9);   
}

@media(min-width:768px){
    .seccion-dni{
        grid-column: 2 / 3;
    }
    .grupo-botones{
        display: flex;
        flex-direction: column;
    }
}

/*  ================================================
    Estilos sección información del usuario
    ================================================
*/
.seccion-informacion{
    border: 1px solid #5BA14B;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}
.contenedor-foto{
    display: none;
}
.dato{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.dato label{
    display: block;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5px;
}
.dato input{
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 10px;
    outline: unset;   
}

@media (min-width: 768px) {
    .seccion-informacion{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 15px;
        font-size: 15px;
    }
    .seccion-informacion .titulo-seccion{
        grid-column: 1 / 3;
    }
    .contenedor-foto{
        display: initial;
        display: flex;
    }
    .contenedor-foto img{
        border: 1px solid rgb(175, 175, 175);
        width: 100%;
    }
    .contenedor-datos{
        display: grid;
    }
    .dato{
        display: grid;
        grid-template-columns: 20% 80%;
        align-items: center;
    }
    .dato input{
        display: initial;
        font-size: 15px;
        margin-bottom: 0;
    }
}
@media (min-width: 1200px) {
    .seccion-informacion{
        font-size: 16px;
    }
    .dato input{
        font-size: 16px;
    }
}

/*  ================================================
    Estilos sección registros de actividades
    ================================================
*/
.seccion-registro{
    border: 1px solid #5BA14B;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.contenedor-fecha-horario{
    display: grid;
    grid-template-columns: 20% 30% 20% 30%;
    align-items: center;
    margin: 0 auto;
}
.contenedor-fecha-horario label{
    font-weight: 800;
}
.contenedor-fecha-horario label,
.contenedor-fecha-horario input{
    font-size: 16px;
    border: none;
    background-color: transparent;
}
.grupo-botones-registro{
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
.boton-registro{
    border: 1px solid #8a8a8a;
    font-size: 0.9em;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
    width: 100px;
    margin-bottom: 10px;
}
.boton-ingreso-labores{
    background-color: #3498db;
    box-shadow: 0 4px #2980b9;
    color: #FFFFFF;
}
.boton-salida-labores{
    background-color: #2c3e50;
    box-shadow: 0 4px #34495e;
    color: #FFFFFF;
}
.boton-ingreso-refrigerio{
    background-color: #f39c12;
    box-shadow: 0 4px #e67e22;
    color: #FFFFFF;
}
.boton-salida-refrigerio{
    background-color: #d35400;
    box-shadow: 0 4px #e67e22;
    color: #FFFFFF;
}
.seccion-hora-fecha{
    border: 1px solid #5BA14B    ;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.seccion-hora-fecha time{
    padding: 10px;
}
.seccion-hora-fecha time:first-child{
    font-size: 18px;
    font-weight: 800;
}

@media(min-width:576px){
    .contenedor-fecha-horario{
        grid-template-columns: 1fr 3fr 1fr 3fr;
    }
}
@media(min-width:768px){
    .seccion-registro{
        margin-bottom: 0;
    }
    .grupo-botones-registro{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }
    .boton-registro{
        padding: 15px 10px;
        width: 125px;
    }
    .seccion-hora-fecha{
        display: grid;
        place-content: center;
        border-radius: 4px;
    }
}
@media(min-width:1200px){
    .boton-registro{
        padding: 15px 10px;
        width: 140px;
    }
}

/*  ================================================
    Estilos de seccion para botones ingresar y sair
    ================================================
*/
/* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijado en la ventana */
    z-index: 1; /*Encima del contenido */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Desplazamiento en caso de desbordamiento */
    background: linear-gradient(to bottom, rgba(23, 23, 23, 0.8), rgba(30, 30, 30, 0.719)); /* Fondo oscuro degradado */
    justify-content: center;
    align-items: center;
    display: flex; /* Centrar el contenido */
}
/* Contenido del modal */
.modal-contenido {
    /* display: none; */
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    width: 90%;
    max-width: 500px;
    text-align: center;
}
/* Estilos de los botones (ejemplo, puedes personalizarlos) */
.boton-ingreso, .boton-salida {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.boton-ingreso {
    background-color: #4CAF50; /* Color de fondo del botón de ingreso */
    box-shadow: 0 4px #439d46;
    transition: transform 0.3s ease-in-out;
    color: white;
}
.boton-ingreso:hover{
    background-color: #3b863d;   
}
.boton-ingreso:active{
    transform: scale(0.9);   
}
.boton-salida {
    background-color: #f44336; /* Color de fondo del botón de salida */
    box-shadow: 0 4px #e33f33;
    transition: transform 0.3s ease-in-out;
    color: white;
}
.boton-salida:hover{
    background-color: #d73d32;
}
.boton-salida:active{
    transform: scale(0.9);   
}
.modificador-botones{
    margin-top: 0;
    display: initial;
}
.modificador-botones button{
    text-transform: uppercase;
    padding: 15px;
}

@media(min-width:768px){
    .modal-contenido{
        padding: 30px;
        width: 100%;
    } 
}